@CHARSET "UTF-8";

body {
	width: 900px;
	margin: 0px auto;
	background-color: #2E2E2E;
}

#banner{
	background-color: grey;
	border-style: solid;
	border-width: 1px;
}

#app_name{
	color: white;
}

#app_subtitle{
	font-style: oblique;
}

#menu{
	background-color: grey;
	width: 200px;
	float: left;
}

.menu_item{
	border-style: solid;
	border-width: 1px;
}

#content{
	background-color: white;
	width: 698px;
	float: left;
	border-style: solid;
	border-width: 1px;
}

#footer{
	background-color: grey;
	text-align: center;
	border-style: solid;
	border-width: 1px;
}


/* ***** */
/* LINKS */
/* ***** */

a:link { /* No visited link */
	text-decoration: none;
	color: black;
}

a:visited { /* Visited link  */
	text-decoration: none;
	color: black
}

a:active { /* Active link */
	text-decoration: none;
	color :black;
	background: #EEEEEE
}

a:hover { /* Mouse over link */
	text-decoration: none;
	color: black;
	background: #EEEEEE
}
