@CHARSET "UTF-8";

body {
	width: 900px;
	margin: 0px auto;
	background-color: white;
}

#banner {
	background-color: #AFC8FF;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	border-style: solid;
}

#app_name {
	color: white;
}

#app_subtitle {
	font-style: oblique;
}

#menu {
	background-color: #AFC8FF;
	width: 200px;
	float: left;
}

.menu_item {
	border-style: solid;
	border-width: 1px;
	border-color: grey;
}

.menu_item:hover {
	background-color: #EEEEEE;
}

.languages{
	text-align: right;
	padding-right: 10px;
}

#content {
	background-color: white;
	width: 698px;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
}

#footer {
	background-color: #AFC8FF;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
}

.container {
	padding: 10px;
}

.padding_left {
	padding-left: 10px;
}

.padding_left_50 {
	padding-left: 50px;
}

.horizontal_50 {
	float: left;
	width: 45%;
	padding: 10px;
}

.horizontal_20 {
	float: left;
	width: 20%;
}

/* ***** */
/* LINKS */
/* ***** */
a:link { /* No visited link */
	text-decoration: none;
	color: black;
}

a:visited { /* Visited link  */
	text-decoration: none;
	color: black
}

a:active { /* Active link */
	text-decoration: none;
	color: black;
	background: #EEEEEE
}

/* *********** */
/* TEXT INPUTS */
/* *********** */
.input {
	width: 400px;
}

.input_password {
	width: 200px;
}

/* ******* */
/* BUTTONS */
/* ******* */
.button {
	background: #AFC8FF;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	font-weight: bold;
	height: 23px;
}

.button:hover {
	background: #EEEEEE;
}

.button:active {
	position: relative;
	top: 1px;
}

.button_100 {
	width: 100px;
}

.button_140 {
	width: 140px;
}